[submodule "AutoMapper.Extensions.Microsoft.DependencyInjection"]
	path = AutoMapper.Extensions.Microsoft.DependencyInjection
	url = https://github.com/chrislarabell/AutoMapper.Extensions.Microsoft.DependencyInjection.git
